---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Kane Montreuil - DevOps Lead & Software Engineer">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold">Hello, I'm Kane</h1>
  </main>
</BaseLayout>
